
._container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
}
.title__h2 {
	font-weight: 700;
	font-size: clamp(28px, 4vw, 48px);
	line-height: 1.2;
	text-align: center;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

/*=============== header ===========================*/ 
.header {
	position: relative;
	padding-top: 200px;
	padding-bottom: 100px;
	&::after {
		position: absolute;
		content: '';
		top: -390px;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: url('../img/red_swadow-full.svg') center no-repeat;
	}
}
.header__body {
}
.header__text {
	display: flex;
	align-items: center;
}
.title__border {
	position: relative;
	display: inline-block;
	border: 1px solid #fff;
	padding: 12px 44px 12px 64px;
	border-radius: 4px;
	text-transform: uppercase;
	&::after {
		position: absolute;
		content: '';
		top: calc(50% - 5px);
		left: 42px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #FF0000;
	}
}
.title__border--vertical {
	font-size: 12px;
	transform: rotate(-90deg);
	height: 38px;
	margin-left: -70px;
}
.header__title {
	font-size: clamp(19px, 5vw, 44px);
	text-transform: uppercase;
	font-family: 'Micra';
	span {
		font-size: clamp(40px, 8vw, 120px);
		color: #FF0000;
		font-weight: bold;
	}
}

.header__action {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: end;
	margin-top: 10px;
}
.action__left-text {
	font-size: 18px;
	color: #848484;
	margin-right: 10px;
	position: relative;
	margin-left: 15px;
	&::after {
		position: absolute;
		content: '';
		top: 10px;
		left: -15px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: #848484;
	}
	b {
		color: #fff;
	}
	span {
		color: #fff;
	}
}
.action__right-block {
}
.action__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 9px;
	margin-bottom: 50px;
	li {
		border: 1px solid #FFFFFF40;
		padding: 12px;
		border-radius: 4px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 300;
	}
	.red__background {
		border: 1px solid #FF0000;
		background: #FF0000;
		font-weight: 500;
	}
}
.action__button {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: 14px;
	padding: 24px;
	.action__button-arrow {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 800;
		color: #000;
		img {
			width: 100%;
		}
	}
	.img_eye {
		width: 96px;
		height: 96px;
		margin-left: 48px;
	}
	&:hover {
		background: #e6e6e6;
	}
}

/*=============== marketing ===========================*/ 
.marketing {
	
}
.section__padding{
	padding: 100px 0;
}
.marketing__body {
}
.marketing__title-line {
	display: grid;
	grid-template-columns: 45% 1fr;
}
.marketing__text {
	font-size: 18px;
	font-weight: 800;
	line-height: 1.4;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		top: 10px;
		left: -15px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #FF0000;
	}
}
.red__text {
	color: #FF0000;
}
.marketing__center-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 44px;
	h3 {
		font-size: clamp(21px, 5vw, 44px);
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
	}
}
.marketing__button {
	margin-top: 44px;
}
.main__button {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: 14px;
	padding: 12px 32px;
	max-width: 374px;
	.marketing__btn-text {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 800;
		color: #000;
		text-align: center;
	}
	img {
		width: 54px;
		height: 54px;
	}
	&:hover {
		background: #e6e6e6;
	}
	
}

/*=============== cource ===========================*/ 

.cource {
}
.cource__body {
}
.cource__title-line {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cource__title {
}
.title__border {
}

.cource__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 650px;
	li {
		font-weight: 650;
		font-size: 12px;
		line-height: 100%;
		text-transform: uppercase;
		
	}
	.red__background {
		padding: 12px 24px;
		border-radius: 4px;
		background: #FF0000;
	}
	.li__border {
		padding: 12px 24px;
		border-radius: 4px;
		border: 1px solid #FFFFFF40;
		margin: 0 4px;
		min-width: 145px;
	}
	.equal {
		font-size: 18px;
		font-weight: 700;
	}
	.red__plus {
		color: #FF0000;
		font-size: 18px;
		font-weight: 700;
	}
}
.swiper {
	width: 100%;
	height: 100%;
	margin-top: 44px;
}
.swiper-wrapper {
	margin-left: -490px;
}
.swiper-slide {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	img {
		width: 190px;
		opacity: 0.15;
	}
	.text-slide {
		opacity: 0.75;
	}
}
.swiper-slide:nth-child(3) {
	font-size: 18px;
	padding-left: 30px;
	img {
		width: 190px;
		opacity: 0.1;
	}
	.text-slide {
		opacity: 0.5;
	}
}
.swiper-slide:nth-child(4) {
	font-size: 18px;
	img {
		width: 190px;
		opacity: 0.05;
	}
	.text-slide {
		opacity: 0.15;
	}
}
.swiper-slide-active,
.swiper-slide-active:nth-child(3),
.swiper-slide-active:nth-child(4) {
	img {
		width: 212px;
		opacity: 1;
	}
	.text-slide {
		opacity: 1;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			top: 5px;
			left: -15px;
			width: 8px;
			height: 8px;
			border-radius: 2px;
			background: #FF0000;
		}
	}
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.num-slide {
	}
	.items-start {
	}
	.text-slide {
		font-size: 16px;
		font-weight: 700;
		margin-top: 20px;
	}
}
.cource__button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 356px;
	margin: 64px auto 0;
	.main__button {
	}
	.cource__btn-text {
		color: #000;
		font-weight: 800;
		font-size: 12px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
	}
	
}

/*=============== about ===========================*/ 

.about {
}
.about__body {
}
.about__title-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__title {
}
.about__text {
	font-weight: 650;
	font-size: 44px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
}
.about__content-wrapper {
	display: grid;
	grid-template-columns: 1fr 40%;
	margin-top: 64px;
}
.about__content {
}
.about__row:not(:last-child) {
	margin-bottom: 60px;
}
.about__row {
	.h3_title {
		font-weight: 870;
		font-size: 24px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
	}
}
.row__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.hello__text {
		font-weight: 270;
		font-size: 44px;
		line-height: 100%;
		text-transform: uppercase;
	}
	.name__text {
		font-weight: 870;
		font-size: 44px;
		line-height: 100%;
		text-align: right;
		text-transform: uppercase;
		max-width: 430px;
	}
}

.action__list {
}
.about__row-list {
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	color: #fff;
}
.adw__row-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	li {
		margin-bottom: 15px;
		font-weight: 540;
		font-size: 16px;
		line-height: 100%;
	}
}
.bottom__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
}
.about__photo {
}

.about__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	gap: 20px;
	padding: 100px 0 40px;
	margin: auto;
}

.box {
	background-color: #ff0000;
	border-radius: 15px;
	padding: 32px 24px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 18px;
	line-height: 1.4;
	height: 200px;
	div {
		max-width: 260px;
	}
}

.large {
	background-color: transparent;
	border: 1px solid #333;
	grid-column: span 1;
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.box.large::before {
	content: "";
	position: absolute;
	background: url('../img/right_light.svg') no-repeat;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
}

.icon {
	width: 84px;
	height: 84px;
}

.empty {
	background: transparent;
	border: 1px solid #333;
}





@media (max-width: 1130px) {
	.header__text{
		margin-bottom: 50px;
		flex-direction: column;
		align-items: flex-start;
	}
	.title__border--vertical {
		font-size: 12px;
		transform: rotate(0deg);
		height: 38px;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.header__action {
		grid-template-columns: 1fr;
	}
	.action__left-text {
		margin-bottom: 30px;
		max-width: 700px;
	}
	.action__button {
		max-width: 700px;
	}
}
@media (max-width: 1280px) { 
	.swiper-wrapper {
		margin-left: -385px;
	}
}
@media (max-width: 959.98px) {
	.cource__title {
		margin-bottom: 20px;
	}
	.cource__title-line {
		grid-template-columns: 1fr;
	}
	.swiper-wrapper {
        margin-left: -285px;
    }
	.about__items {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 767.98px) {
	.marketing {
		padding: 50px 0;
	}
	.marketing__title-line {
		display: flex;
		align-items: center;
        flex-direction: column;
	}
	.marketing__title {
		margin-bottom: 20px;
	}
	.marketing__text {
		font-size: 16px;
		text-align: center;
		&::after {
			display: none;
		}
	}
	.swiper-wrapper {
        margin-left: -215px;
    }
	.about__content-wrapper {
		grid-template-columns: 1fr;
	}
	.row__wrapper {
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
	}
	.row__wrapper {
		.hello__text {
			font-size: 28px;
		}
		.name__text {
			padding-top: 20px;
			text-align: left;
			max-width: 100%;
			font-size: 28px;
		}
	}
	.about__photo {
		margin-top: 30px;
	}
}
@media (max-width: 639.98px) {
	.cource__title {
        text-align: center;
    }
	.cource__list {
		flex-direction: column;
		li {
			width: 100%;
			text-align: center;
		}
	}
	.swiper-wrapper {
        margin-left: -160px;
    }
}
@media (max-width: 579.98px) {
	.action__list {
		grid-template-columns: repeat(1, 1fr);
		gap: 9px;
		margin-bottom: 50px;
	}
	.swiper-wrapper {
        margin-left: -80px;
    }
	.adw__row-list {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 479.98px) {
	.action__button .img_eye {
		display: none;
	}
	.action__button .action__button-arrow {
		font-size: 20px;
	}
	.swiper-wrapper {
        margin-left: -38px;
    }
}

